/* Asterisk wildcard selector to override default styles set by browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* General Styles */

body {
    background-color: #d91f36;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    /* make main element take up surplus space*/
    flex: 1 0 auto;
}

/*logo image styling*/
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 250px;
    height: auto;
}

/* nav bar styling*/
nav {
    min-height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

/* a href link styling */
a {
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.current,a:hover {
    border: 1px solid #000000;
    transition: .7s ease;
}

a:visited {
    color:#000000;
    text-transform: none;
}

/* hamburger bar */
.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

/* social network icons in footer*/

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    color: #000000;
    padding: 5%;
}

/* dice styling*/

.container{
    perspective: 800px;
    perspective-origin: 50% 50%;
    height: 100vh;
  }
  .container .cube{
    position: relative;
    left: 45%;
    top: 40%;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    cursor: pointer;
    transform: rotateX(130deg) rotateY(-220deg) rotateZ(-86deg);
  }
  .container .cube div{
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    border:3px solid #d91f36;
  }
  
  .container .cube .front{
    background: #fdf8e6;
    border-radius: 5%;
    transform: translateZ(100px);
  }
  .container .cube .back{
    background: #fdf8e6;
    border-radius: 5%;
    transform: translateZ(-100px) rotateY(180deg);
  }
  .container .cube .right{
    background: #fdf8e6;
    border-radius: 5%;
    transform-origin: top right;
    transform: rotateY(-270deg) translateX(100px);
  }
  .container .cube .left{
    background: #fdf8e6;
    border-radius: 5%;
    transform-origin: center left;
    transform: rotateY(270deg) translateX(-100px);
  }
  .container .cube .top{
    background: #fdf8e6;
    border-radius: 5%;
    transform-origin: top center;
    transform: rotateX(-270deg) translateY(-100px);
  }
  .container .cube .bottom{
    background: #fdf8e6;
    border-radius: 5%;
    transform-origin: bottom center;
    transform: rotateX(270deg) translateY(100px);
  }

/* dot styling*/
.dot {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #d91f36;
    border-radius: 15px;  
  }

.front .dot1 { top: 85px; left: 85px; }

.back .dot1 { top: 45px; left: 45px; }
.back .dot2 { top: 125px; left: 125px; }

.top .dot1 { top: 45px; left: 45px; }
.top .dot2 { top: 85px; left: 85px; }
.top .dot3 { top: 125px; left: 125px; }

.left .dot1 { top: 45px; left: 45px; }
.left .dot2 { top: 45px; left: 125px; }
.left .dot3 { top: 125px; left: 45px; }
.left .dot4 { top: 125px; left: 125px; }

.right .dot1 { top: 45px; left: 45px; }
.right .dot2 { top: 45px; left: 125px; }
.right .dot3 { top: 85px; left: 85px; }
.right .dot4 { top: 125px; left: 45px; }
.right .dot5 { top: 125px; left: 125px; }

.bottom .dot1 { top: 45px; left: 45px; }
.bottom .dot2 { top: 45px; left: 85px; }
.bottom .dot3 { top: 45px; left: 125px; }
.bottom .dot4 { top: 125px; left: 45px; }
.bottom .dot5 { top: 125px; left: 85px; }
.bottom .dot6 { top: 125px; left: 125px; }


/* contact form styling*/
#contactform h3{
    text-align: center;
    color:#000000;
    font-weight: 800;
    font-size: 26px;
    margin-left: 15%;
    margin-right: 15%;
}

#contactform {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin: 20px;
    color:#000000;
    font-size: 20px;
    font-weight: 700;

}

/* for name and address*/
.text-input {
    font-size: 16px;
    background-color: #facbcb;
    color: #2b1511;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #690303;
    border-radius: 5px ;
    padding: 0 5px;
}

/* for message */
.message-input {
    font-size: 16px;
    background-color: #facbcb;
    color: #2b1511;
    width: 100%;
    height: 200px;
    margin: 5px 0 20px 0;
    border: 2px solid #690303;
    border-radius: 5px;
    padding: 0 5px;
}

/* text input placeholder styling */
.text-input::placeholder {
    font-size: 16px;
}

/* message placeholder styling*/
.message-input::placeholder {
    font-size: 16px;
}

/*submit button styling*/
.submit-button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #690303;
    color: #fafafa;
    display: block;
    margin: 0 auto;
}

/* Thank you page styling*/
#thank-you {
    background-color: #facbcb;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
}

/*media query for mobile responsiveness*/
@media (max-width: 768px){
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img {
        width: 200px;
        height: auto;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 200px;
        gap: 0;
        flex-direction: column;
        background-color: #d91f36;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.7s;
    }

    nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    #contact-form h3{
        font-size: 18px;
    }
}